body {
    padding: 0;
    margin: 0;
    font-family: 'Gilroy-Bold', sans-serif;
}

.header .container{
    display: flex;
    justify-content: space-between; /*по горизонтали*/
    align-items: center; /*по вертикали*/
    flex-flow:  row nowrap;

    margin: 0 auto;
    padding: 20px 0;

    background: #B4D8AE;
}

.header .container .logo {
    font-family: Gilroy-Bold;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin: 0 0 0 70px;
    margin-left: 70px;
}

.header .container .search {
    border: 1px solid black;
    border-radius: 20px;
    width: 338px;
    height: 36px;
    margin-left: auto;
    margin-right: 7%;
    box-shadow: 1px 2px;

}

.header .container .search_form {
    width: auto;
    height: 100%;

    border-radius: 20px;
    background-color: #fff;

    display: flex;
    justify-content: start; /*по горизонтали*/
    align-items: center; /*по вертикали*/
    flex-wrap: nowrap; /*без переноса*/
    flex-direction: row;

    margin: 0 0 0 0;
    padding: 0;
}

.header .container .search .search__img {
    width: 4%;
    height: auto;
    display: flex;
    margin: 0 0 0 20px;
    padding: 0;
}

.header .container .search .search__img img{
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}

.header .container .search .search__input {
    display: flex;
    margin-left: 5px;
    width: 85%;
    color: #b3b3b3 !important;
}

.header .container .search .search__input input {
    border: none;
    width: 100%;

    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 14px;
    color: #b3b3b3 !important;
}

.header .container .search .search__input input:focus {
    outline: none;
}

.header .container .nav {
    display: flex;
    justify-content: space-between; /*по горизонтали*/
    align-items: center; /*по вертикали*/
    flex-wrap: nowrap;
    flex-direction: row;

    margin: 0 0 0 0;
    padding: 0;
}

.button {
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 12px;
    border-radius: 20px;
    border: 1px solid black;
    padding: 0;
    box-shadow: 1px 2px;
    height: 36px;
}

.button:active {
    box-shadow: inset 2px 1px;
}

.button_white {
    background-color: #FFF;
}

.button_yellow {
    background-color: #FFE500;
}

.header .container .nav .button {
    width: 138px;
    height: 36px;
}

.header .container .nav .button_white {
    margin: 0 20px 0 0;
}

.header .container .nav .button_yellow {
    margin: 0 70px 0 0;
}

/* ------------------------ */

.about {
    margin: 0;
    padding: 0;
}

.about .container {
    background: #E6FFE1;
    height: 90%;

    display: flex;
    justify-content: flex-start; /*по горизонтали*/
    align-items: center; /*по вертикали*/
    flex-flow:  row nowrap;

    margin: 0 0;
    padding: 20px 0;

    border-bottom: #A3CE9B 1px solid;
}

.about .container .button_menu {
    display: flex;
    justify-content: center; /*по горизонтали*/
    /* align-items: start; по вертикали */
    align-items: center;
    border: none;
    background: none;
    
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 13px;

    margin: 0 0 0 70px;
}

.about .container .button_menu .button_menu__img {
    /* width: 25px; */
    height: auto;
    display: flex;
    margin: 0 8px 0 0;
    padding: 0;
}

.about .container .button_menu .button_menu__img img{ 
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}

.about .container .header_line {
    background: #A3CE9B;
    width: 1px;
    height: 22px;
    margin: 0 25px;
}

.about .container .menu {
    display: flex;
    justify-content: space-between;
}

.about .container .menu a {
    margin: 0 40px 0 0;
    text-decoration: none; 
    color: inherit;
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 13px;
}

.about .main_container .main_every_child .button_yellow {
    width: 138px;
    margin-top: 18px;
    margin-bottom: 0;
}

.main_every_child {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;

    background-color: #E6FFE1;
    margin: 0;
    padding: 10px 0 30px 0;
}

.about .main_every_child h1 {
    font-size: 60px;
    margin: 0;
    padding: 0;
}

.about .main_every_child h2 {
    font-family: 'Gilroy-Light', sans-serif !important;
    font-size: 18px;
    margin-top: 20px;
}

.about .main_every_child p {
    font-family: 'Gilroy-Medium', sans-serif !important;
    font-size: 13px;
    margin-top: 20px;
}

.main_every_child .container_left {
    width: 1fr;
    padding-left: 150px;
    padding-top: 50px;
}

.about .main_container .main_every_child .main__img {
    height: 420px;
    margin-right: 0;
}

.about .main_container .main_every_child .main__img img{
    height: 100%;
}

/* ---------------------------------- */

.about .year_container {
    background-color: #E0F7DB;
    margin: 0;
    padding: 10px;

    display: flex;
    justify-content: center; 
    align-items: center;
}

.about .year_container .elem{
    margin: 50px 20px;
    padding: 0;
}

.about .year_container .elem h3{
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 40px;
    margin: 0 0;
    padding: 0;
}

.about .year_container .elem p{
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 15px;
    color: #818181;
    margin: 0;
    padding: 0;
}

.about .year_container .header_line {
    background: #C6C6C6;
    width: 1px;
    height: 25px;
    margin: 0 40px;
}

body::-webkit-scrollbar {
    width: 0px;
}

/* -------------------- */

footer {
    background-color: #F8F8F8;
    margin: 0;
    padding: 50px 0 50px 0;

    display: flex;
    justify-content: space-around;
}

footer .media {
    margin: 0 0 0 100px;
    padding: 0;
}

footer .media h1 {
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 35px;
    margin: 0;
    padding: 0;
}

footer .media .media_container {
    margin: 20px 0 20px 0;
    padding: 0;
}

footer .media .media_info {
    display: flex;
    align-items: center;
    margin: 10px 0 0 0;
    padding: 0;
}

footer .media .media_info p {
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 14px;
    margin: 0 0 0 15px;
    padding: 0;
}

footer .media .media_info .icon {
    margin: 0;
    padding: 0;
    height: auto;
    display: flex;
}

footer .media .media_info .icon img{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 25px;
    display: block;
}

footer .media .media_button {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: baseline;
}

footer .media .media_button button {
    margin: 0 10px 0 0;
    padding: 0;
    background-color: #F8F8F8;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 2px;
}

footer .media .media_button button img{
    margin: 0;
    padding: 0;
    height: 50%;
    width: auto;
}

footer .media .media_button button:active {
    box-shadow: inset 2px 1px;
}

footer .pages {
    display: flex;
    justify-content: start;
    margin: 5px 0 0 0;
    padding: 0;
}

footer .pages .column {
    margin: 0 50px 0 0;
    padding: 0;
}

footer .pages h1 {
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 16px;
    margin: 0 0 30px 0;
    padding: 0;
}

footer .pages h2 {
    font-family: 'Gilroy-Light', sans-serif;
    font-size: 14px;
    margin: 15px 0 0 0;
    padding: 0;
    color: #868686;
}

footer .subcribe {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 100px 0 0;
    padding: 0;
}

footer .subcribe h1 {
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 25px;
    margin: 0 0 25px 0;
    padding: 0;
}

footer .subcribe .div_input {
    margin: 0 0 20px 0;
    padding: 0;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 1px 2px;
    height: 36px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .subcribe .div_input input {
    font-family: 'Gilroy-Bold', sans-serif;
    margin: 0;
    padding: 0;

    border: 0px;
    background-color: #fff;

    font-size: 12px;

    height: 26px;
}

footer .subcribe .button {
    background-color: #FFFACD;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 14px;

    margin: 0 0 30px 0;
}



/* 
body::-webkit-scrollbar-thumb {
    background-color: #A3CE9B;
    border: 1px solid #818181;
} */





/* 
body {
    padding: 0;
    margin: 0;
    font-family: 'Gilroy-Bold', sans-serif;
}

ul,
li {
    /* display: block;
}

.header .container {
    display: flex;
    margin: 0 auto;
    padding: 0;
    border: 1px solid blue;
}

.logo {
    border: 1px solid red;
    margin: 0 0 0 0;
    padding: 0;
}

.search {
    display: flex;
    align-content: center;
    align-items: center;
    vertical-align: center;
    justify-content: center;

    width: 90%;

    margin: 0 0;
    padding: 0;
    border: 1px solid pink;
}

.search__input {
    align-items: center;
    justify-content: center;
    border: 1px solid green;
    margin: 0;
    padding: 0;
}

.search__img {
    /* display: flex;
    align-items: center;
    border: 1px solid black;
    margin: 0;
    padding: 0;

    width: 10%;

}

.search__img img {
    display: block;
    width: 100%;
} */